.Module {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0,0,0,0.7);
}

.ModuleContainer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  height: 400px;
  background: rgb(245,245,245);
  box-shadow: #000 2px 2px 15px;
  padding: 16px;
}